@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html {
    scroll-behavior: smooth;
  }
.common_style{
    margin:8% 0 0 0%;  
   
}
.nav_text{
    font-family: 'Hepta Slab', serif;
    font-size: 16px;
}
.bg_color{
    /* background-color: #006DFF !important; */
  
}
.about_me{
    /* margin:8% 0 0 0%;    */
    font-family: 'Hepta Slab', serif;
    font-size:30px;
    color:white
}
.skill{
    font-family: 'Yusei Magic', sans-serif;
}
.project{
    font-family: 'Yusei Magic', sans-serif;
} 
.blog{
    font-family: 'Yusei Magic', sans-serif;
}


.brand_logo{
    width:300px;
    margin:8% 0 0 38%;
}
.skill_card{
    width:80px !important;
    height: 80px !important;
}
.skill_text{
    font-size:24px;
    border:1px solid white;
    font-family: 'Yusei Magic', sans-serif;
    color:black;

   
}
h3{
    /* background-color: #006DFF; */
    color: #006DFF;;
   
    font-size:50px;
    font-family: 'Philosopher', sans-serif;
}
.contact_icon{
    width:40px
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:white;
    color: white;
    text-align: center;
    z-index:100 !important;
 }

 ::-webkit-scrollbar {
    width: 20px;
    
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color:  #006DFF;
  }

.footer_icons{
    font-size: 40px;
    padding-left: 2%;
    padding-bottom: 2%;
    color:  #006DFF;
}